:root {
    --Bright-orange: #e38826;
    --Dark-cyan: #006970;
    --Very-dark-cyan: #004241;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    width: 70%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sedan-card {
    background-color: var(--Bright-orange);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sedan-card a,
.sedan-card a:visited {
    color: var(--Bright-orange);
}

.suv-card {
    background-color: var(--Dark-cyan);
}

.luxury-card {
    background-color: var(--Very-dark-cyan);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.suv-card a,
.suv-card a:visited {
    color: var(--Dark-cyan);
}

.luxury-card a,
.luxury-card a:visited {
    color: var(--Very-dark-cyan);
}

img {
    width: 80px;
}

h2 {
    color: white;
    font-family: big shoulders;
    font-weight: 700;
    font-size: 40px;
}

p {
    color: white;
    opacity: 0.7;
    font-family: Lexend Deca;
    font-weight: 400;

}

a {
    padding: 12px;
    font-family: Lexend Deca;
    font-weight: 400;
    text-decoration: none;
}

.button {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid white;
    margin-top: 80px;
    border-radius: 30px;
}

.button:hover {
    background-color: transparent;

    a {
        color: white;
    }

}